/* style base */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 20px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    background-image: url(../images/bg-2011.jpg);
    background-attachment: fixed;
    background-position: top right;
    background-repeat: no-repeat;
}
figure {
    margin: 0px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.break {
    clear: both;
}

::-moz-selection {
    background: #65bbff;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #65bbff;
    color: #fff;
    text-shadow: none; }

/* basic spacer for content */

.canvas {
    width: 100%;
    height: 100%;
}

.header {
    display: block;
    height: 400px;
    width: 100%;
}

.header .leftBlock {
    display: block;
    float: left;
    height: 600px;
    width: 200px;
    color: #FFFFFF;
    background-color: #222222;
    background-image: -moz-linear-gradient(0% 100% 0deg, #000000, #333333);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#000000), to(#333333));
}

.header .leftBlock figure {
    display: block;
}

.header .leftBlock figure img {
    display: block;
}

.header .leftBlock ul {
    display: block;
    margin: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #666666;
}

.header .leftBlock li a {
    display: block;
    color: #65bbff;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    padding-left: 5px;
    cursor: pointer;
}

.header .leftBlock li.active a {
    color: #FFFFFF;
}

.header .leftBlock li.active a:hover {
    text-decoration: none;
}

.header .leftBlock li a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.header .info {
    margin-left: 200px;
    color: #FFFFFF;
}

.header .info .headliner {
    padding: 25px 50px;
    height: 150px;
    width: 700px;
    overflow: hidden;
}

.header .info .headliner h1 {
    font-size: 100px;
    line-height: 100%;
    text-shadow: 2px 4px 10px #222222;
}

.header .info .headliner span.subTags {
    display: block;
    font-size: 20px;
    line-height: 25px;
    width: 600px;
    float: none;
    color: #65bbff;
    background-color: transparent;
    margin: 0px;
    text-shadow: 1px 2px 2px #000000;
}

.header .info .description {
    padding: 0px 50px;
    height: 200px;
    width: 700px;
    position: relative;
}

.header .info .description .firstItemFrame {
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -225px;
    left: -25px;
    z-index: 5;
    border: 25px solid rgba(101,187,255,0.75);
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
}

.header .info .description p {
    float: left;
    width: 300px;
    margin: 0px 50px 0px 0px;
    text-align: justify;
    background-color: rgba(30, 30, 30, 0.75);
}

.header .info .description img {
    position: absolute;
}

.header .info .description img.lookBelow {
    top: 10px;
    right: 5px;
}

.header .info .description img.lookLeft {
    bottom: -5px;
    left: -25px;
}

.header .info .description p a {
    color: #65bbff;
    text-decoration: none;
    z-index: 10;
    font-weight: bold;
}

.header .info .description p a:hover {
    background-color: rgba(101,187,255,0.5);
    color: #FFFFFF;
    text-decoration: underline;
}

.header .info .description p em {
    font-weight: bold;
}

.advContent {
    position: relative;
}

.advContent .block {
    width: 200px;
    height: 200px;
    background-color: #707886;
    float: left;
    cursor: pointer;
    position: relative;
}

.advContent .block.disabled {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.advContent .block .title {
    width: 180px;
    color: #FFFFFF;
    padding: 10px;
    background-color: rgba(30, 30, 30, 0.75);
    font-weight: bold;
}

.advContent .block .cube .title {
    position: absolute;
}

.advContent .block .title.special {
    text-decoration: underline;
}

.advContent .block .title.right {
    margin-top: 80px;
    margin-left: 80px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.advContent .block .title.bottom {
    margin-top: 160px;
}

.advContent .block .title.left {
    margin-top: 80px;
    margin-left: -80px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.advContent .block .detailed {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    cursor: default;
    box-shadow: 0px 0px 20px #000000;
    -moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
}

.advContent .block .detailed .closeDetail {
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    background: transparent url('../images/close-button.png') no-repeat center center;
    font-size: 0;
    height: 20px;
    width: 20px;
    z-index: 1;
}

.advContent .block .detailed .frame {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: rgba(51, 95, 129, 0.95);
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
}

.advContent .block .detailed.scrolling .frame {
    width: 617px;
    overflow-y: scroll;
    border-right-style: solid;
    border-right-width: 10px;
    border-right-color: transparent;
}

.advContent .frame .cube {
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
}

.advContent .frame .cube p {
    margin: 20px;
    text-align: justify;
}

.advContent .frame .cube ul {
    margin: 20px;
    list-style: inside square;
}

.advContent .frame .cube p.listItem:first-letter {
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #65bbff;
    overflow: hidden;
}

.advContent .frame .cube a {
    color: #65bbff;
    text-decoration: none;
    font-weight: bold;
}

.advContent .frame .cube a:hover {
    background-color: rgba(101,187,255,0.5);
    color: #FFFFFF;
    text-decoration: underline;
}

.advContent .frame .cube h1 {
    margin: 20px;
    text-align: justify;
    line-height: 40px;
    font-size: 25px;
}

.advContent .frame .cube h2 {
    margin: 20px;
    text-align: justify;
    line-height: 20px;
    font-size: 17px;
}

.advContent .frame .s3x3 {
    width: 600px;
    height: 600px;
}

.advContent .frame .s3x2 {
    width: 600px;
    height: 400px;
}

.advContent .frame .s3x1 {
    width: 600px;
    height: 200px;
}

.advContent .frame .s2x3 {
    width: 400px;
    height: 600px;
}

.advContent .frame .s2x2 {
    width: 400px;
    height: 400px;
}

.advContent .frame .s2x1 {
    width: 400px;
    height: 200px;
}

.advContent .frame .s1x3 {
    width: 200px;
    height: 600px;
}

.advContent .frame .s1x2 {
    width: 200px;
    height: 400px;
}

.advContent .frame .s1x1 {
    width: 200px;
    height: 200px;
}

.advContent .cube .scroller {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center center;
}

.advContent .cube .scroller:hover {
    background-color: rgba(255,128,0,0.5);
}

.advContent .cube .scroller.right {
    width: 20px;
    height: 200px;
    background-image: url(../images/vertical-scroller.png);
}

.advContent .cube .scroller.left {
    width: 20px;
    height: 200px;
    background-image: url(../images/vertical-scroller.png);
    right: auto;
    left: 0px;
}

.advContent .cube .scroller.bottom {
    width: 200px;
    height: 20px;
    background-image: url(../images/horizontal-scroller.png);
}

.footer .leftBlock {
    float: left;
    padding: 25px;
    height: 150px;
    width: 150px;
    background-color: #222222;
    color: #FFFFFF;
    text-align: justify;
    font-size: 10px;
    background-image: -moz-linear-gradient(0% 100% 0deg, #000000, #333333);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#000000), to(#333333));
}

.footer .leftBlock a {
    color: #FFFFFF;
}

.footer .leftBlock a:hover {
    color: #65bbff;
}

.footer .extra {
    padding: 50px;
    margin-left: 200px;
    text-align: right;
}