/* style base */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 20px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  background-color: #F1F1F1;
  background-attachment: fixed;
  background-position: top right;
  background-repeat: no-repeat;
  color: #444444;
  overflow-y: scroll;
}

figure {
  margin: 0px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.break {
  clear: both;
}

::-moz-selection {
  background: #65bbff;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #65bbff;
  color: #fff;
  text-shadow: none;
}

/* basic spacer for content */

header {
  display: block;
  height: 200px;
  width: 750px;
  position: relative;
}

header nav {
  display: block;
  position: absolute;
  bottom: 0px;
  padding-top: 5px;
  border-bottom: 3px solid #65bbff;
  height: 70px;
  width: 100%;
  color: #FFFFFF;
  background-color: #222222;
  background-image: -moz-linear-gradient(0% 100% 91deg, #000000, #444444);
  background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#000000), to(#444444));
}

header nav.detached {
  position: fixed;
  top: 0px;
  z-index: 20;
}

header nav > ul {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #666666;
  max-width: 1250px;
  min-width: 750px;
  height: 50px;
  margin: 0px auto;
}

header nav li {
  display: block;
  float: left;
}

header nav > ul > li {
  width: 33%;
}

header nav li.logo {
  display: none;
}

header nav li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  padding: 0px 10px;
  cursor: pointer;
}

header nav li.active a {
  color: #65bbff;
}

header nav li.active a:hover {
  text-decoration: none;
}

header nav li a:hover {
  text-decoration: underline;
  color: #65bbff;
}

header nav.detached {
  position: fixed;
  top: 0px;
  z-index: 20;
}

header nav.detached > ul > li {
  width: 30%;
}

header nav.detached li.logo {
  display: block;
  width: 10%;
}

header nav.detached li.logo img {
  display: block;
  height: 60px;
  margin: 0px auto;
}

header .info {
  clear: both;
}

header .info hgroup {
  padding: 25px;
  float: right;
  overflow: hidden;
}

header .info hgroup h1 {
  font-size: 60px;
  line-height: 100%;
  color: #65bbff;
}

header .info hgroup h2 {
  display: block;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #444444;
  margin: 0px;
  padding-left: 10px
}

header .info aside {
  padding: 15px;
  text-align: justify;
  color: #aaaaaa;
}

header .info aside p {
  max-width: 400px;
}

header .info aside p a {
  color: #65bbff;
  text-decoration: none;
  font-weight: bold;
}

header .info aside p em {
  font-weight: bold;
}

#fork {
  display: none;
}

section.content {
  position: relative;
  margin-top: 25px;
}

section.content ul {
  width: 750px;
  margin: 0px auto;
}

section.content .block {
  width: 200px;
  height: 200px;
  background-color: #333333;
  float: left;
  cursor: pointer;
  position: relative;
  margin: 25px;
}

section.content .blockLink {
  display: block;
  width: 200px;
  height: 200px;
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 0px;
}

section.content .block.disabled {
  opacity: 0.4;
  filter: alpha(opacity = 40);
}

section.content .block .title {
  width: 180px;
  color: #FFFFFF;
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.75);
  font-weight: bold;
}

section.content .block .cube .title {
  position: absolute;
}

section.content .block .title.special {
  text-decoration: underline;
}

section.content .block .title.right {
  margin-top: 80px;
  margin-left: 80px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

section.content .block .title.bottom {
  margin-top: 160px;
}

section.content .block .title.left {
  margin-top: 80px;
  margin-left: -80px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

section.content .block .detailed {
  display: none;
  position: absolute;
  top: -100px;
  left: -200px;
  z-index: 10;
  cursor: default;
  box-shadow: 0px 0px 20px #000000;
  -moz-box-shadow: 0px 0px 20px #000000;
  -webkit-box-shadow: 0px 0px 20px #000000;
}

section.content .block .detailed .closeDetail {
  display: block;
  position: absolute;
  top: 0;
  right: 0px;
  background: transparent url('../images/close-button.png') no-repeat center center;
  font-size: 0;
  height: 20px;
  width: 20px;
  z-index: 1;
}

section.content .block .detailed .frame {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.80);
  color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: hidden;
}

section.content .block .detailed.scrolling .frame {
  width: 617px;
  overflow-y: scroll;
  border-right-style: solid;
  border-right-width: 10px;
  border-right-color: transparent;
}

section.content .frame .cube {
  float: left;
  display: block;
  overflow: hidden;
  position: relative;
}

section.content .frame .cube p {
  margin: 20px;
  text-align: justify;
}

section.content .frame .cube ul {
  margin: 20px;
  list-style: inside square;
}

section.content .frame .cube p.listItem:first-letter {
  float: left;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #65bbff;
  overflow: hidden;
}

section.content .frame .cube a {
  color: #65bbff;
  text-decoration: none;
  font-weight: bold;
}

section.content .frame .cube a:hover {
  background-color: rgba(101, 187, 255, 0.5);
  color: #FFFFFF;
  text-decoration: underline;
}

section.content .frame .cube h1 {
  margin: 20px;
  text-align: justify;
  line-height: 40px;
  font-size: 25px;
}

section.content .frame .cube h2 {
  margin: 20px;
  text-align: justify;
  line-height: 20px;
  font-size: 17px;
}

section.content .frame .s3x3 {
  width: 600px;
  height: 600px;
}

section.content .frame .s3x2 {
  width: 600px;
  height: 400px;
}

section.content .frame .s3x1 {
  width: 600px;
  height: 200px;
}

section.content .frame .s2x3 {
  width: 400px;
  height: 600px;
}

section.content .frame .s2x2 {
  width: 400px;
  height: 400px;
}

section.content .frame .s2x1 {
  width: 400px;
  height: 200px;
}

section.content .frame .s1x3 {
  width: 200px;
  height: 600px;
}

section.content .frame .s1x2 {
  width: 200px;
  height: 400px;
}

section.content .frame .s1x1 {
  width: 200px;
  height: 200px;
}

section.content .cube .scroller {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center center;
}

section.content .cube .scroller:hover {
  background-color: rgba(255, 128, 0, 0.5);
}

section.content .cube .scroller.right {
  width: 20px;
  height: 200px;
  background-image: url(../images/vertical-scroller.png);
}

section.content .cube .scroller.left {
  width: 20px;
  height: 200px;
  background-image: url(../images/vertical-scroller.png);
  right: auto;
  left: 0px;
}

section.content .cube .scroller.bottom {
  width: 200px;
  height: 20px;
  background-image: url(../images/horizontal-scroller.png);
}

footer {
  clear: both;
  margin: 0px auto;
  padding: 50px 0px;
  text-align: center;
}

footer h1 {
  font-size: 20px;
  color: #aaaaaa;
}

footer ul {
  width: 100%;
}

footer li {
  display: inline-block;
  padding: 10px;
}

footer a {
  color: #444444;
  text-decoration: none;
  padding-left: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/contact-icons.png);
}

footer a:hover {
  color: #65bbff;
}

#contact-phone a {
    background-position: 0px 0px;
}
#contact-email a {
    background-position: 0px -20px;
}
#contact-twitter a {
    background-position: 0px -40px;
}
#contact-skype a {
    background-position: 0px -60px;
}

/* screen sizes */

@media only screen and (min-width: 750px) {
  header {
    width: 100%;
  }

  header nav.detached {
    height: 90px;
  }
}

@media only screen and (min-width: 1000px) {
  section.content ul {
    width: 1000px;
  }

  header {
    height: 235px;
  }

  header .info hgroup h1 {
    font-size: 80px;
    line-height: 100%;
  }

  header .info hgroup h2 {
    font-size: 14px;
    line-height: 10px;
  }

  header .info aside {
    padding: 50px;
  }

  header nav.detached {
    height: 70px;
  }
}

@media only screen and (min-width: 1250px) {
  section.content ul {
    width: 1250px;
  }

  header {
    height: 300px;
  }

  header .info hgroup {
    padding: 50px;
  }

  header .info hgroup h1 {
    font-size: 100px;
  }

  header .info hgroup h2 {
    font-size: 18px;
    line-height: 20px;
  }

  header .info aside {
    padding: 80px;
  }

  #fork {
    display: inline;
  }
}

@media only screen and (min-width: 1500px) {
  section.content ul {
    width: 1500px;
  }
}

@media only screen and (min-width: 1750px) {
  section.content ul {
    width: 1750px;
  }
}

@media only screen and (min-width: 2000px) {
  section.content ul {
    width: 2000px;
  }
}

@media only screen and (max-width: 750px) {
  header {
    height: auto;
    width: auto;
  }

  header .info {
    display: none;
  }

  header nav {
    position: relative;
    height: auto;
    width: auto;
    padding: 5px 0px;
  }

  header nav > ul {
    float: none;
    height: auto;
  }

  header nav li {
    float: none;
  }

  header nav > ul > li {
    display: block;
    width: auto;
    padding: 5px 10px;
    float: none;
  }

  header nav > ul > li li {
    display: inline-block;
  }

  header nav.detached {
    position: relative;
  }

  header nav.detached > ul > li {
    width: auto;
  }

  header nav.detached li.logo {
    display: none;
  }

  section.content ul {
    width: auto;
  }
}

/* all IE corrections */

.lt-ie9 .content .block .title {
  background-color: #444444;
}

.lt-ie9 .content .block .title.right {
  margin: 0px;
}

.lt-ie9 .content .block .title.left {
  margin: 0px;
}

.lt-ie9 .content .block .detailed .frame {
  background-color: #444444;
}