/* block specifics */

#aboutMe {
  background-image: url(../images/blocks/about.jpg);
}

#personalIntro {
  background-image: url(../images/blocks/personal-intro.jpg);
}

#experienceIntro {
  background-image: url(../images/blocks/experience-intro.jpg);
}

#skillsIntro {
  background-image: url(../images/blocks/skills-intro.jpg);
}

#conceptIntro {
  background-image: url(../images/blocks/concepts.jpg);
}

#designIntro {
  background-image: url(../images/blocks/design-intro.jpg);
}

#devIntro {
  background-image: url(../images/blocks/programming-intro.jpg);
}

#opensourceIntro {
  background-image: url(../images/blocks/opensource-intro.jpg);
}

#businessIntro {
  background-image: url(../images/blocks/business-intro.jpg);
}

#pauze {
  background-image: url(../images/blocks/pauze.jpg);
}

#tno {
  background-image: url(../images/blocks/experience-tno.jpg);
}

#naturalis {
  background-image: url(../images/blocks/experience-naturalis.jpg);
}

#joost {
  background-image: url(../images/blocks/joost.jpg);
}

#ogd {
  background-image: url(../images/blocks/experience-ogd.jpg);
}

#sersol {
  background-image: url(../images/blocks/sersol.jpg);
}

#smallrivers {
  background-image: url(../images/blocks/experience-smallpaper.jpg);
}

#freelance {
  background-image: url(../images/blocks/freelance.jpg);
}

#academic {
  background-image: url(../images/blocks/academic.jpg);
}

#games {
  background-image: url(../images/blocks/gaming.jpg);
}

#snooker, #snookerScoreBoard {
  background-image: url(../images/blocks/snooker.jpg);
}

#techgeek {
  background-image: url(../images/blocks/personal-technology.jpg);
}

#racquetball {
  background-image: url(../images/blocks/racquetball.jpg);
}

#devWebFront {
  background-image: url(../images/blocks/skills-webfront.jpg);
}

#devWebBack {
  background-image: url(../images/blocks/skills-webback.jpg);
}

#devApp {
  background-image: url(../images/blocks/appdev.jpg);
}

#devSoft {
  background-image: url(../images/blocks/devsoft.jpg);
}

#designSoft {
  background-image: url(../images/blocks/designsoft.jpg);
}

#devPattern {
  background-image: url(../images/blocks/devpattern.jpg);
}

#hacking {
  background-image: url(../images/blocks/programming-hacking.jpg);
}

#toonDesign {
  background-image: url(../images/blocks/design-toon.jpg);
}

#fantasyDesign {
  background-image: url(../images/blocks/design-fantasy.jpg);
}

#realisticDesign {
  background-image: url(../images/blocks/design-realistic.jpg);
}

#photomanip {
  background-image: url(../images/blocks/design-photo.jpg);
}

#logoDesign {
  background-image: url(../images/blocks/design-logo.jpg);
}

#layoutDesign {
  background-image: url(../images/blocks/design-layout.jpg);
}

#originalpieces {
  background-image: url(../images/blocks/design-pieces.jpg);
}

#photography {
  background-image: url(../images/blocks/design-photography.jpg);
}

#designPattern {
  background-image: url(../images/blocks/designpattern.jpg);
}

#usabillity {
  background-image: url(../images/blocks/usabillity.jpg);
}

#naturalLanguage {
  background-image: url(../images/blocks/skills-languages.jpg);
}

#projectManagement {
  background-image: url(../images/blocks/management.jpg);
}

#scisea {
  background-image: url(../images/blocks/programming-scisea.jpg);
}

#processing {
  background-image: url(../images/blocks/programming-processing.jpg);
}

#css {
  background-image: url(../images/blocks/programming-css.jpg);
}

#javaScript {
  background-image: url(../images/blocks/programming-javascript.jpg);
}

#jqueryTageditor {
  background-image: url(../images/blocks/tageditor.jpg);
}

#jqueryTitleControl {
  background-image: url(../images/blocks/titlecontrol.jpg);
}

#jquery {
  background-image: url(../images/blocks/programming-jquery.jpg);
}

#dojoToolkit {
  background-image: url(../images/blocks/programming-dojotoolkit.jpg);
}

#php {
  background-image: url(../images/blocks/php.jpg);
}

#rubyOnRails {
  background-image: url(../images/blocks/rails.jpg);
}

#geotweets {
  background-image: url(../images/blocks/geotweet.jpg);
}

#walkandfind {
  background-image: url(../images/blocks/walkandfind.jpg);
}

#cbac {
  background-image: url(../images/blocks/programming-cbac.jpg);
}

#fedora {
  background-image: url(../images/blocks/os-fedora.jpg);
}

#venture {
  background-image: url(../images/blocks/ventures.jpg);
}

#html {
  background-image: url(../images/html5.png);
}

#websiteStatusMessenger {
  background-image: url(../images/blocks/websitemessenger.jpg);
}

#geeklist {
  background-image: url(../images/blocks/geeklist-link.jpg);
}

#about-me {
  background-image: url(../images/blocks/aboutme-link.jpg);
}

#linkedin {
  background-image: url(../images/blocks/linkedin-link.jpg);
}

#github {
  background-image: url(../images/blocks/github-link.jpg);
}

#blog {
  background-image: url(../images/blocks/blog-link.jpg);
}

#facebook {
  background-image: url(../images/blocks/facebook-link.jpg);
}

#stackoverflow {
  background-image: url(../images/blocks/stackoverflow-link.jpg);
}

#clojure {
  background-image: url(../images/blocks/programming-clojure.jpg);
}