/* all IE corrections */

.advContent .block .title {
    background-color: #444444;
}

.advContent .block .title.right {
    margin: 0px;
}

.advContent .block .title.left {
    margin: 0px;
}

.advContent .block .detailed .frame {
    background-color: #444444;
}